<div class="container">
  <div class="content">
    <div class="row p-5 justify-content-center">
      <div class="col-lg-6 ">
        <div class="card">
          <div class="card-header bg-success">
            <h1>Login</h1>
          </div>
          <div class="card-body">
            <div class="form-row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <label for="">Username</label>
                <input type="text" class="form-control" placeholder="Username...">
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <label for="">password</label>
                <input type="text" class="form-control" placeholder="password...">
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row ">
              <div class="col-lg-12">
                <span class="text-primary cursor-pointer">forgot password?.</span> or
                <span class="text-primary cursor-pointer">New User.</span>
                <button type="button" class="btn btn-primary float-right">Login</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>