<form [formGroup]="profileForm" class="border p-4 shadow shadow-sm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name"> First Name:</label>
        <input type="text" id="name" class="form-control" formControlName="firstName">
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
        <label for="last"> Last Name:</label>
        <input type="text" id="last" class="form-control" formControlName="lastName">
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <div formGroupName="address">
        <h3>Address</h3>

        <div class="form-group">
            <label for="strt"> Street:</label>
            <input type="text" id="strt" class="form-control" formControlName="street">
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
            <label for="cty"> City:</label>
            <input type="text" id="cty" class="form-control" formControlName="city">

            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
            <label for="state"> State:</label>
            <input type="text" id="state" class="form-control" formControlName="state">
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
            <label for="code"> Zip Code:</label>
            <input type="text" id="code" class="form-control" formControlName="zip">
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Submit</button>
</form>